#pic1{
  width:350px;
  height:300px;
}

#piclogo{
  width:100px;
  height:100px;
}

#gwclogo{
  width:150px;
  height:150px;
}

#gwcmic{
  width:300px;
  height:200px;
}

#pic2{
  width:300px;
  height:200px;
}

#pic3{
  width:auto;
  height:auto;
}
